@charset "utf-8";

@media screen and (max-width: 400px) {
    .cf {
        width: 100vw;
        height: auto;
    }

    .cf img {
        width: 100%;
    }

    .movie-poster {
        height: auto;

    }


    .movie-poster img {
        width: 100vw;
        height: auto;
    }

    #footer {
        margin-bottom: 50px;
    }


}