@charset "utf-8";
/* 아이디 선택자(#) : 문서 내에서 단한번만 사용
   클래스 선택자(.) : 문서 내에서 여러번 반복/재사용
*/
/*================스타일 공통속성=====================*/
.mx-auto { /* margin + x-axit + auto */
    margin:0 auto; /* 상하 0, 좌우 auto(=자동으로) */
}
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.mx-10 {
    margin-left: 10px;
    margin-right: 10px; 
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;    
}    
.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;   
}

.text-center {
    text-align: center
}

.text-upper {
    text-transform: uppercase ;
}

/*====================1.스타일 초기화=================*/

*{
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
    height: 110px;
    display: block;
}

.nav{
    height: 60px;
    line-height: 60px ; /* 행-높이(=행간): 높이와 같게하면, 수직중앙에 배치 */
}

.bg-nav {
    background-color: #005891; /* 16진수HEX 색상코드 */
}
/* 
 :link - link로 지정된 텍스트
 :visited - link 텍스트를 클릭한 이후
 :hover - hand+over : hover
 :actove - link 텍스트를 클릭하고 있는 동안
 ==>LoVe, HAte순서를 지켜야, a 태그의 스타일이 제대로 적용됨
*/

a:link {
    color: white;
    text-decoration: none;
}

a:hover { /* hover - 가상요소 선택자, hand : hover */
    color: #fcff00;
    text-decoration: none;  /* 텍스트-꾸밈: 안함 */
}

.cf {
    width: 800px;
    height: 500px;
    display: block;
}

.cf-title {
    font-size: 22px;
}
.cf-text {
    font-size: 16px;
    color: #555555;
}

.movie-poster {
    width: 600px;
    height: 300px;
    font-size: 0;
}
.sns {
    font-size: 0;
}
.bg-sns{
    background-color: #f3f3f3;
}

.divider {
    border: 0;
    height: 1px;
    background-color: #005891;
}

/* ===================footer===============*/

.cs-title {
    font-size: 15px;
    color: #005891;
}
.cs-number {
    font-size: 30px;
    font-weight: bold;
    color: #005891;  
}
.cs-number a { /* 하위선택자 (후손 선택자 : 아들, 딸, ...*/
    color: #005891;
}

.address-ko {
    font-size: 13px;

}
.ownership-en {
    font-size: 11px;
}

.brand {
    font-style: italic;
}
